#p-login {
  max-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
}

#p-login fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

#p-login input[type='radio'], input[type='checkbox'] {
  margin-left: 0;
  margin-right: 10px;
}

<<<<<<< HEAD
#cabecalho a {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0
} 

.foto{
    position: relative;
    display: block;
    justify-content: center;
    margin-left: 460px;
=======
#p-login input:not(input[type='radio']):not(input[type='checkbox']), 
#p-login button {
  display: block;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
}

#campo {
  display: flex;
  flex-direction: row;
>>>>>>> 1d051ac038ec4bff04f325ba79169367121e4f25
}