#p-not-found {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
  }
  
  #p-not-found h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  #p-not-found a {
    background-color: #333;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  #p-not-found a:hover {
    background-color: #666;
  }

  #p-add-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#cabecalho h1 {
    font-size: 2.5rem;
    margin: 0;
}

#cabecalho a {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0
} 