@import url(./scripts/styles/pages/login.page.css);
@import url(./scripts/styles/components/header.component.css);
@import url(./scripts//styles/components/card-contact-component.css);

body {
    margin: 0;
    padding: 0 16px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #202020;
    color: white;
}

* {
    box-sizing: border-box;
}

form, fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

form {
    padding-bottom: 10px;
}

button {
    background-color: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #914fce;
}

textarea, input:not(input[type='radio']):not(input[type='checkbox']), button {
    min-height: 40px;
    padding: 5px 10px;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

input[type='radio'], input[type='checkbox'] {
    display: inline-block;
    width: auto;
}

label {
    font-weight: 500;
    color: blueviolet;
}

#cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-card-contact {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
  }
  
  .c-card-contact p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .c-card-contact a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .c-card-contact a:hover {
    text-decoration: underline;
  }

  #c-header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  #c-header span {
    font-size: 24px;
    font-weight: bold;
  }
  
  #c-header a {
    background-color: #333;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  #c-header a:hover {
    background-color: #666;
  }